# Node dependencies
node_modules/

# MacOS
.DS_Store

# Env variables
.env

# Logs and zips
*.log
*.zip

# IDE/editor config
.vscode/
.idea/

# Docker MySQL data (non versionare)
docker/database/
*.ibd
*.sdi
*.sock

# Docker dotenv example
.env
